1.write a code a string with your name and print it.

In [12]:
print("My name is, Laxmi")

My name is, Laxmi

In [11]:
char = "L"
ord(char)

76

In [13]:
char = "a"
ord(char)

97

In [14]:
char = "x"
ord(char)

120

In [15]:
char = "m"
ord(char)

109

In [16]:
char = "i"
ord(char)

105

2.Write a code to find the length of the string "Hello World".

In [19]:
text = "Hello World"
print(len(text))

11

3.Write a code to slice the first 3 characters from string "Python  Programming".

In [20]:
text = "Python Programming"
print(text[:3])

Pyt

4.Write a code to convert the string "hello" to uppercase.

In [24]:
text = "hello"
upper_text
print(upper_text)

HELLO

5.Write a code to replace the word "apple" to "orange" in the string "I like apple".

6.Write a code to create a list with numbers 1 to 5 and print it.

In [39]:
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [40]:
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [41]:
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [43]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [44]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with element 100, 200, 300 and print it.

In [49]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple('red', 'green', 'blue', 'yellow')

In [52]:
tuple = ('red', 'green', 'blue', 'yellow')
second_last = tuple[-2]
print(second_last)

blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [53]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [54]:
animals = ("dog", "cat", "rabbit")
cat_index = animals.index("cat")
print(cat_index)

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [55]:
fruits = ("apple", "banana", "kiwi")
if "kiwi" in fruits:
    print("kiwi is in the tuple.")
else:
    print("kiwi is not in the tuple")

kiwi is in the tuple.

16.Write a code to create a set with element  'a', 'b', 'c' and print it.

In [58]:
set = {'a', 'b', 'c'}
print(set)

{'c', 'b', 'a'}

17.Write a code to clear all element from the set {1, 2, 3, 4, 5}

In [60]:
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [62]:
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and  {3, 4, 5}

In [64]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [66]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [67]:
person = {
    "name": "Laxmi",
    "age": "25",
    "city": "Mumbai"
}
print(person)

{'name': 'Laxmi', 'age': '25', 'city': 'Mumbai'}

22.Write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'John', 'age':'25'}

In [68]:
person = {
    'name': 'John',
    'age': '25'
}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': '25', 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age':'30'}

In [69]:
person = {
    'name':'Alice',
    'age':'30'
}
name_value = person['name']
print(name_value)

Alice

24.Write  a code to remove the key "age" from the dictionary {'name':'Bob', 'age';'22','city':'New york'}

In [72]:
person = {'name':'bob', 'age':'22', 'city':'New York'}
person.pop('age')
print(person)

{'name': 'bob', 'city': 'New York'}

25.Write a code to check if the key "city" exists in the dictionary {'name':'Alice', 'city':'paris'}

In [73]:
person = {'name':'Alice', 'City':'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("key 'city' does not exists in the dictionary")

key 'city' does not exists in the dictionary

26.Write a code to create a list, a tuple, and a dictionary, and print them all

In [74]:
list = [1, 2, 3]
tuple = ('a', 'b', 'c')
dict = {'name':'Alice', 'age':'25'}
print("List:", list)
print("Tuple:", tuple)
print("dictionary:", dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
dictionary: {'name': 'Alice', 'age': '25'}

27.Write a code to create a list of 5 random numbers 1 and 100, sort it in ascending order, and print the result.

In [78]:
import random
random_numbers = random.sample(range(1,101),5)
random_numbers.sort()
print(random_numbers)

[17, 21, 26, 36, 95]

28.Write a code to create a list with strings and print th eelement at the third index

In [79]:
list = ["apple", "banana", "cherry", "date"]
print(list[2])

cherry

29.Write a code to combine two dictionaries into one and print the result.

In [80]:
dict1 = {'a':1, 'b':2}
dict2 = {'c':3, 'd':4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.Write a code to convert a list of strings into a set.